* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, cursive;
    color: rgba(245, 245, 245, 0.8);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height: 100vh;
}

/* 계산기 전체 */
.calculator {
    width: 350px;
    height: 530px;
    /* border: 1px solid blue; */
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    background: midnightblue;
}

/* 계산기 결과 화면 */
.result_container {
    /* border: 1px solid blue; */
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
}

.resultNum {
    /* border: 1px solid blue; */
    font-size: 4rem;
    margin-top: 1rem;
    color: white;
}

/* 계산기 연산 버튼 */
.calculate_container {
    /* border: 1px solid blue; */
    flex-grow: 1;
}

.floor1,
.floor2,
.floor3,
.floor4,
.floor5 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
}

.btn1,
.clear,
.back,
.number,
.operator,
.decimal,
.calculate {
    /* border: 1px solid blue; */
    width: 25%;
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
}

/* 액션 */
.btn1:hover,
.clear:hover,
.back:hover,
.number:hover,
.operator:hover,
.decimal:hover,
.calculate:hover {
    color: white;
    cursor: pointer;
    font-size: 2.3rem;
}