* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid rgb(181, 181, 255);
    width: 15rem;
    height: 30rem;
    background-color: rgb(236, 248, 255);
}

header {
    /* border: 1px solid blue; */
    margin-top: 3rem;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: navy;
}

p {
    color: navy;
}

main {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
}

button {
    margin: 0.5rem;
    width: 12rem;
    height: 2.2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.1rem 0.1rem 0.8rem rgb(220, 220, 220);
}

button:active {
    box-shadow: 1px 1px 0 rgb(0, 0, 0, 0.5);
    position: relative;
    top: 2px;
}

button:nth-child(1) {
    background: navy;
    color: white;
}

button:nth-child(2) {
    background: white;
    color: navy;
}